body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #fff; /* Text color */
    background-image: url('../static/worldmap.jpg'); /* Use the path to your world map image */
    background-size: cover; /* Cover the entire screen */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* Optional: add a semi-transparent background to the container */
    padding: 20px;
    border-radius: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745; /* Button color */
    color: #fff; /* Button text color */
    cursor: pointer;
}

button:hover {
    background-color: #218838; /* Darker green on hover */
}

.result {
    margin-top: 20px;
    font-size: 20px;
}
